# Unreal Engine generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# IDE
.vs/
.vscode/

# Visual Studio
*.VC.db
*.VC.opendb
*.sdf
*.opensdf

# Build artifacts
*.pdb
*.obj
*.ipch
*.pch
*.tlog
*.tmp
*.log